@model GuardaCapitalEuropeia.Models.Restaurantes

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: black;
    }

    table {
        background-color: #353636;
    }

    th {
        color: white;
    }
    h1 {
        color: white;
        text-align:center;
    }

    h2 {
        color: white;
        text-align: center;
    }

    h4 {
        color: white;
        text-align: center;
    }
    .btn-style {
        color: black;
        background-color: white;
        font-weight: bold;
        box-shadow: 0 9px #999;
    }

    .btn-style:hover {
            background-color: #a7a6a6;
        }

    .btn-style:active {
            background-color: #a7a6a6;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    a {
        align-content: center;
        align-items: center;
    }
</style>

<h1>Detalhes do </h1>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="row" style="margin-left:80px">
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.LimitMax)
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.LimitMax)
        </dd>
    </dl>
</div>
<div style="margin-top:60px; text-align:center;">
    <a asp-action="Edit" asp-route-id="@Model.RestaurantesId" style="color: white">Edit</a> |
    <a asp-action="Index" style="color: white">Back to List</a>
</div>

<section>
    <div style="text-align:center;margin-top:30px">
        <a class="btn btn-style" asp-controller="Prato" asp-action="Index">Ementa</a>
    </div>
</section>
<section>
    <div style="text-align:center; margin-top: 8px;">
        <a class="btn btn-style" asp-controller="Mesas" asp-action="Index">Mesas</a>
    </div>
</section>

