@model IEnumerable<GuardaCapitalEuropeia.Models.Restaurantes>

@{
    ViewData["Title"] = "Restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        background-color:black;
    }
    table {
        background-color: #353636;
    }
    th{
        color:white;
    }
</style>



<p>Restaurantes
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitMax)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
