@model IEnumerable<GuardaCapitalEuropeia.Models.Mesa>

@{
    ViewData["Title"] = "Mesas";
}
<style>

    body {
        background-color: black;
    }

    table {
        background-color: #353636;
    }

    th {
        color: white;
    }

    p {
        color: white;
        margin-left: 30px;
    }

    tr {
        color: white;
    }

    a {
        color: lightslategray
    }
</style>


<h1>Mesas</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugares)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MesaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.MesaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.MesaId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
